*{
	box-sizing: border-box;
}

a {
	color: #77A8D2;
	text-decoration: none;
}

body {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 450px;
	margin-left: 320px;
	font-family: Geneva, Palatino, serif;
	line-height: 1.25;
	background-color: #FBF9F1;
}

header {
	font-size: 20px;
}

.underline {
	text-decoration: underline;
}

.colorbox {
	background-color: black;
	color: white;
	font-family: Ubuntu, serif;
}

.hi {
	font-size: 30px;
	height: 20px;
}